.container-word{
    width: 80vw;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.blue-text {
    font-size: 30px;
    color:blue;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
